[submodule "errorpages"]
	path = errorpages
	url = https://mirror.ghproxy.com/https://github.com/TopRealm/errorpages.git
	branch = master
[submodule "extensions"]
	path = extensions
	url = https://github.com/TopRealm/YsArchives-Extensions.git
	branch = master
