[submodule "errorpages"]
	path = errorpages
	url = https://github.com/TopRealm/errorpages
[submodule "skins/Gongbi"]
	path = skins/Gongbi
	url = https://git.qiuwen.net.cn/Qiuwen/mediawiki-skins-Gongbi
[submodule "skins/Vector"]
	path = skins/Vector
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-skins-Vector
[submodule "skins/Citizen"]
	path = skins/Citizen
	url = https://git.qiuwen.net.cn/Fork/mediawiki-skins-Citizen
[submodule "extensions"]
	path = extensions
	url = https://github.com/TopRealm/YsArchives-Extensions
